body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.firstSection{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.firstSection > div > p{
  padding-left: 25px;
  margin: 0;
  font-size: 10px;
}

.icons{
  margin-right: 25px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.panda{
  width: 400px;
}

.portfolio{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  background-color: chocolate;
}

.portfolioCard{
  width: 300px;
  max-height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
  margin: 25px;
  border: 5px solid black;
  background-color: rgb(106, 139, 197);
}

.portfolioimg{
  width: 300px;
}

.portfolioCard > a:hover{
  width: 250;
}

.greeting{
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about{
  display: flex;
  background-color: #ac95da;
  padding: 50px;
}

.photo{
  width: 200px;
  border-radius: 100%;
}

footer{
  display: flex;
  width: 100%;
  color: rgb(158, 158, 158);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.contactmain{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 50px;
  background-color: #6bbbbe;
  height: 500px;
}

.formcontainer > form > input{
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.formcontainer > form > textarea{
  padding: 10px;
  border: none;
  border-radius: 3px;
  margin-bottom: 10px;
}

.formcontainer > form > button{
  padding: 10px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #303152;
  cursor: pointer;
}


.contact{
  display: flex;
  flex-direction: column;
  padding: 25px 10px;
  
}

.formcontainer > form{
  display: flex;
  flex-direction: column;
}



@media only screen and (max-width: 710px) {
  .firstSection{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }

  .panda{
    width: 100%;
  }

  .greeting{
    font-size: 50px;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contactmain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 25px;
  }

  footer{
    display: flex;
    flex-direction: column;
  }

  body{
    overflow-x: hidden;
  }
}
@media only screen and (max-width: 347px) {
  
  .portfolioCard{
    width: 225px;
  }

  .portfolioimg{
    width: 150px;
  }
}
